html, body {
    height: 100%;
}

html {
    font-size: 100px;
}

body {
    font-size: 14px;
    font-weight: bold;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    color: aquamarine;
}

h1 {
    text-align: center;
}