html, body {
    height: 100%;
}

html {
    font-size: 100px;
}

body {
    font-size: 14px;
    font-weight: bold;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    color: aquamarine;
}

h1 {
    text-align: center;
}

.box1 {
    width: 100%;
    height: 500px;
    background: url("../res/images/top.png");
}

.box2 {
    width: 100%;
    height: 1000px;
    background: url("../res/images/alert.png");
}